dashboard-flow.json
[
    {
        "id": "04d3574919996fe6",
        "type": "inject",
        "z": "f4a0cb11b396cc6d",
        "name": "Every 30 minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "f4a2491f2e5911d9",
                "08d9a30abdf22457",
                "6fac4ece1b08a28d"
            ]
        ]
    },
    {
        "id": "f4a2491f2e5911d9",
        "type": "http request",
        "z": "f4a0cb11b396cc6d",
        "name": "Get electricity generation",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.carbonintensity.org.uk/generation",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "ed52d7903f80d7ef",
                "4f098bacbb1cef6b"
            ]
        ]
    },
    {
        "id": "15bffa8db2a8a0b5",
        "type": "ui_chart",
        "z": "f4a0cb11b396cc6d",
        "name": "Generation % chart",
        "group": "54a6a1a4d5f4c794",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Generation mix %",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Loading...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ed52d7903f80d7ef",
        "type": "function",
        "z": "f4a0cb11b396cc6d",
        "name": "Convert to chart format",
        "func": "//msg.payload = [{\n//    \"series\": [\"X\", \"Y\", \"Z\"],\n//    \"data\": [[5, 6, 9, 10], [3, 8, 5, 10], [6, 7, 2, 10]],\n//    \"labels\": [\"Jan\", \"Feb\", \"Mar\", \"Apr\"]\n//}]\n\nlet series = [];\nlet data = [];\nlet labels = [];\n\nmsg.payload.data.generationmix.forEach(myfunction);\n\nfunction myfunction(item) {\n    labels.push(item.fuel);\n    data.push(item.perc);\n}\n\nmsg.payload=[{\n    \"series\" : series,\n    \"data\" : data,\n    \"labels\" : labels\n}]\n\n//msg.payload.push('series: [' + series + ']');\n//msg.payload.push('data: [' + data + ']');\n//msg.payload.push('labels: [' + labels + ']');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 580,
        "wires": [
            [
                "15bffa8db2a8a0b5"
            ]
        ]
    },
    {
        "id": "08d9a30abdf22457",
        "type": "http request",
        "z": "f4a0cb11b396cc6d",
        "name": "Get carbon intensity score",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.carbonintensity.org.uk/intensity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 640,
        "wires": [
            [
                "c6ea98c550c8c79e",
                "4e48cdf144d7d7b5"
            ]
        ]
    },
    {
        "id": "c6ea98c550c8c79e",
        "type": "change",
        "z": "f4a0cb11b396cc6d",
        "name": "Pull out forecast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data[0].intensity.forecast",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 640,
        "wires": [
            [
                "94e651f00e402f45"
            ]
        ]
    },
    {
        "id": "94e651f00e402f45",
        "type": "ui_gauge",
        "z": "f4a0cb11b396cc6d",
        "name": "",
        "group": "54a6a1a4d5f4c794",
        "order": 2,
        "width": "12",
        "height": "7",
        "gtype": "gage",
        "title": "Carbon intensity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "200",
        "className": "",
        "x": 880,
        "y": 640,
        "wires": []
    },
    {
        "id": "4e48cdf144d7d7b5",
        "type": "change",
        "z": "f4a0cb11b396cc6d",
        "name": "Pull out intensity index",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data[0].intensity.index",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 700,
        "wires": [
            [
                "a5940e97569f78c6"
            ]
        ]
    },
    {
        "id": "a5940e97569f78c6",
        "type": "ui_text",
        "z": "f4a0cb11b396cc6d",
        "group": "54a6a1a4d5f4c794",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "Intensity index",
        "label": "Intensity index:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 700,
        "wires": []
    },
    {
        "id": "1167c383cdc98e99",
        "type": "comment",
        "z": "f4a0cb11b396cc6d",
        "name": "Carbon intensity dashboard",
        "info": "",
        "x": 140,
        "y": 520,
        "wires": []
    },
    {
        "id": "4f098bacbb1cef6b",
        "type": "function",
        "z": "f4a0cb11b396cc6d",
        "name": "Calculate renewables and carbon free",
        "func": "msg.payload.renewables = 0;\nmsg.payload.carbonfree = 0;\nmsg.payload.data.generationmix.forEach(function(element) {\n    if (element.fuel == \"hydro\" || element.fuel == \"solar\" || element.fuel == \"wind\") {\n        msg.payload.renewables = msg.payload.renewables + element.perc;\n        msg.payload.carbonfree = msg.payload.carbonfree + element.perc;\n    };\n    if (element.fuel == \"nuclear\") {\n        msg.payload.carbonfree = msg.payload.carbonfree + element.perc;\n    }\n});\nmsg.payload.renewables = parseFloat(msg.payload.renewables).toFixed(1);\nmsg.payload.carbonfree = parseFloat(msg.payload.carbonfree).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 520,
        "wires": [
            [
                "e85f22c76f79dd68",
                "f6b344e774e74bc3"
            ]
        ]
    },
    {
        "id": "697f13fae1a3486b",
        "type": "ui_gauge",
        "z": "f4a0cb11b396cc6d",
        "name": "",
        "group": "54a6a1a4d5f4c794",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Renewables",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#39b300"
        ],
        "seg1": "30",
        "seg2": "55",
        "className": "",
        "x": 1130,
        "y": 460,
        "wires": []
    },
    {
        "id": "2aaed87891c89cb3",
        "type": "ui_gauge",
        "z": "f4a0cb11b396cc6d",
        "name": "",
        "group": "54a6a1a4d5f4c794",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Low Carbon",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#39b300"
        ],
        "seg1": "30",
        "seg2": "55",
        "className": "",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "e85f22c76f79dd68",
        "type": "change",
        "z": "f4a0cb11b396cc6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.renewables",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 460,
        "wires": [
            [
                "697f13fae1a3486b"
            ]
        ]
    },
    {
        "id": "f6b344e774e74bc3",
        "type": "change",
        "z": "f4a0cb11b396cc6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.carbonfree",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 520,
        "wires": [
            [
                "2aaed87891c89cb3"
            ]
        ]
    },
    {
        "id": "5d47dd41a91bf916",
        "type": "ui_text",
        "z": "f4a0cb11b396cc6d",
        "group": "54a6a1a4d5f4c794",
        "order": 5,
        "width": "12",
        "height": "2",
        "name": "",
        "label": "Notes:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 430,
        "y": 700,
        "wires": []
    },
    {
        "id": "6fac4ece1b08a28d",
        "type": "change",
        "z": "f4a0cb11b396cc6d",
        "name": "Set notes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Renewables figure includes the percentage of the generation mix coming from Solar, Wind, and Hydro sources. The Low Carbon figure also includes the contribution of Nuclear power generation.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 700,
        "wires": [
            [
                "5d47dd41a91bf916"
            ]
        ]
    },
    {
        "id": "54a6a1a4d5f4c794",
        "type": "ui_group",
        "name": "Carbon Impact",
        "tab": "f35e5a8b17c21ed3",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f35e5a8b17c21ed3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]